.container {
  position: absolute;
  top: 15%;
  width: 100%;
}

.container ul {
  text-align: center;
}

.container ul li {
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
}

.container ul li a {
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5em;
  word-spacing: 0em;
  line-height: 1.2em;
  text-transform: none;
  font-weight: normal;
}
